@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To University</h1>
    <p>To get get started add a student <a asp-page="/Students/Index">here</a></p>
</div>
